[Desktop Entry]
Type=Application
Exec=BesLyric-for-X
Name=BesLyric-for-X
Comment=BesLyric-for-XBesLyric-for-XBesLyric-for-X
Icon=BesLyric-for-X
Terminal=false
Categories=AudioVideo;Video;Qt;

